@media only screen and (min-width: 70em) {
    main, footer{
        max-width: 80%;
        margin: auto;
    }
    nav ul{
        display: flex;
    }
    nav ul li{
        flex: 1 1 auto;
    }
    nav{
        display: block;
    }
    header button{
        display: none;
    }
    .herosection{
        left: 50px;
        top: 50px;
    }
    .galleryGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .galleryGrid figure:hover {
        box-shadow: 0 0 50px #333;
    }
    .storm fieldset {
        width: 60%;
    }
}