@media only screen and (min-width: 32.5em) {
    main, footer{
        max-width: 90%;
        margin: auto;
    }
    .herosection{
        position: absolute;
        left: 25px;
        top: 25px;
        padding: .5em;
    }
    article img{
        width: 25%;
        float: right;
    }
}