@media only screen and (min-width: 32.5em) {

    main,
    footer {
        max-width: 90%;
        margin: auto;
    }

    .herosection {
        position: absolute;
        left: 25px;
        top: 25px;
        padding: .5em;
        opacity: .85;
    }

    article img {
        width: 25%;
        float: right;
        padding-left: .5em;
        padding-bottom: .5em;
    }

    .footercontact {
        display: flex;
        overflow-wrap: anywhere;
    }

    .footercontact div {
        text-align: left;
    }

    .galleryGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .storm fieldset {
        width: 70%;
    }

    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card:nth-child(even) .cardData {
        grid-column: 2;
    }

    .card:nth-child(even) img {
        grid-column: 1;
        grid-row: 1;
    }
}