header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkslategray;
    color: white;
    padding: .5em;
}

picture {
    width: 200px;
    min-width: 100px;
}

picture img {
    width: 100%;
}

h1 {
    margin: 0;
    color: gold;
}

h1,
h2,
h3,
h4 {
    font-family: Concert One, cursive;
}

h2,
h3,
h4 {
    color: darkblue;
    margin: 1em;
    text-align: center;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
    margin-bottom: 14px;
}

h4 {
    font-size: 18px;
    font-style: italic;
}

header p {
    margin: 0;
}

header div {
    margin: 1em;
}

body {
    font-family: Montserrat, sans-serif;
    background-color: lightgrey;
}

nav {
    padding: 0;
    background-color: black;
    font-weight: bold;
    text-align: center;
    display: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    display: block;
    padding: .8em;
    color: gold;
}

nav a:hover {
    background-color: darkslategray;
    color: gold;
    text-decoration: underline;
}

.active {
    text-decoration: underline;
    color: black;
    background-color: gold;
}

.unhide {
    display: block;
}

aside {
    display: none;
    background-color: gold;
    padding: .5em;
    text-align: center;
}

.herodiv {
    position: relative;
    background-color: transparent;
    border: none;
    padding: 0;
}

.herodiv img {
    width: 100%;
    margin-bottom: .5em;
}

.herosection {
    background: radial-gradient(white, darkslategrey);
    padding: .5em;
}

.herosection h3 {
    margin: .25em auto;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

#current {
    text-transform: capitalize;
}

.currentWeather {
    margin: auto;
}

.forecast h4 {
    background-color: darkslategray;
    color: gold;
    margin: 0;
    padding: .5em;
}

.forecast {
    text-align: center;
    max-width: 500px;
    margin: auto;
}

.forecast ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.forecast ul li {
    flex: 1 1 auto;
    border: 1px solid black;
}

.forecast ul li p {
    margin-top: 0;
}

.forecast ul li img {
    max-width: 50px;
}

div.cards {
    padding: .5em;
    margin: auto;
    display: block;
    /* width: fit-content; */
    text-align: center;
    border: 1px solid black;
    background-color: darkslategrey;
    box-shadow: 0 0 10px 5px #ccc;

}

.card {
    border: 1px solid black;
    padding: .5em;
    margin: .5em auto;
    background-color: white;
}

.card h3 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.card h4 {
    margin-top: 0;
    padding-top: 0;
    height: 40px;
}

.card img {
    margin: auto;
    max-width: 75%;
}

.events {
    background: radial-gradient(white, darkslategrey);
    list-style: none;
    text-align: center;
    max-width: 500px;
    margin: auto;
    padding: .5em;
}

.events li {
    padding: .5em;
}

article {
    margin-bottom: 1em;
    overflow: hidden;
}

article img {
    width: 100%;
    max-width: 500px;
    margin: 0;
}

article h4 {
    text-align: left;
    margin: 0 0 auto;
    padding: .5em;
}

article p {
    padding: .5em;
    margin: 0;
}

.galleryGrid {
    margin-bottom: 1em;
}

.galleryGrid figure img {
    width: 100%;
    max-width: 400px;
}

.galleryGrid figure {
    background-color: white;
    max-width: 400px;
}

.galleryGrid figcaption {
    padding: .5em;
}

.thanks {
    text-align: center;
    padding: 1em;
    background-color: white;
}

.stormContainer {
    width: 100%;
    align-content: center;
    margin: auto;
}

.storm fieldset {
    width: 80%;
    margin: 1em auto;

}

input:invalid {
    border: 2px solid red;
}

.top {
    display: block;
    padding: .5em;
}

.top input {
    display: block;
    padding: .5em;
    width: 95%
}

.top select {
    display: block;
    padding: .5em;
}

.top span#severityValue {
    display: inline;
}

.sbs {
    display: block;
    padding: .5em;
}

textarea {
    width: 100%;
}

#submit {
    display: block;
    padding: .5em;
    margin: 1em auto;
}

footer {
    margin: 0;
    background-color: white;
}

.social img {
    max-width: 50px;
}

.social {
    padding: 0 .5em;
}

.footerbar {
    background-color: darkslategray;
    color: white;
    padding: 1em;
    font-size: 20px;
    text-align: center;
    margin: 0;
}

footer p {
    margin: 0;
}

footer a {
    color: gold;
}

footer span {
    font-size: 16px;
    color: gold;
    margin: 0;
}

.footercontact {
    padding: .5em;
}

.contactSolo {
    text-align: center;
    margin: auto;
}

.contactjoin {
    margin: auto;
    width: auto;
    text-align: center;
}

.footercontact p {
    padding: .5em;
}